# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.db
*.opensdf
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.Build.CppClean.log
*.FileListAbsolute.txt
bin/
bin-int/

# Profiles and Dumps
*.json
*.dmp
*.zip
CrashDumps/
*.ini

# Large test assets and models
*/assets/models/bag/
*.fbx
*.obj
*.mtl
*/assets/models/**/*.jpg
*/assets/models/**/*.png

# Large vendor binaries and docs
QuentlamEngine/vendor/JoltPhysics/Assets/
QuentlamEngine/vendor/JoltPhysics/Docs/
QuentlamEngine/vendor/JoltPhysics/Web/
QuentlamEngine/vendor/glm/doc/
